@font-face {
    font-family: 'Futura Std';
    src: url('../fonts/FuturaStd-Book.eot');
    src: url('../fonts/FuturaStd-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaStd-Book.woff2') format('woff2'),
        url('../fonts/FuturaStd-Book.woff') format('woff'),
        url('../fonts/FuturaStd-Book.ttf') format('truetype'),
        url('../fonts/FuturaStd-Book.svg#FuturaStd-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bauer Bodoni Std';
    src: url('../fonts/BauerBodoniStd-Roman.eot');
    src: url('../fonts/BauerBodoniStd-Roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BauerBodoniStd-Roman.woff2') format('woff2'),
        url('../fonts/BauerBodoniStd-Roman.woff') format('woff'),
        url('../fonts/BauerBodoniStd-Roman.ttf') format('truetype'),
        url('../fonts/BauerBodoniStd-Roman.svg#BauerBodoniStd-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bodoni Std';
    src: url('../fonts/BodoniStd-Book.eot');
    src: url('../fonts/BodoniStd-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BodoniStd-Book.woff2') format('woff2'),
        url('../fonts/BodoniStd-Book.woff') format('woff'),
        url('../fonts/BodoniStd-Book.ttf') format('truetype'),
        url('../fonts/BodoniStd-Book.svg#BodoniStd-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #39536b;
}
header {
    padding: 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 233;
}
header img{
    max-width: 400px;
}
.custom-slider {
    height: 105vh;
    position: relative;
    margin: 0 auto;
    display: block;
}
.custom-slider li { 
    position: absolute;
    left: 0;
    right: 0;
    top: -30px;
    bottom: 0;
    visibility: hidden;
    transition: all 0.5s linear 0s;
    opacity: 0;
}
.custom-slider li.active{
    visibility: visible;
    opacity: 1;
}
.custom-slider li.done {
    opacity: 1;
    visibility: visible;
    background-color: #39536b;
    -webkit-animation-name: scale-animation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 30s; /* Safari 4.0 - 8.0 */
    animation-name: scale-animation;
    animation-duration: 30s;
    animation-fill-mode: forwards;
}
.custom-slider li:last-child {
    animation: none;
}
.custom-slider img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.coming_soon_wrapper {
    max-width: 850px;
    margin: 100px auto;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 0;
    padding: 0 15px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-animation-name: minor-animation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: minor-animation;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.coming_soon_wrapper h1 {
    font-size: 68px;
    font-family: 'Bauer Bodoni Std';
    line-height: 55px;
    margin-bottom: 25px;
}
.coming_soon_wrapper p {
    font-family: 'Bauer Bodoni Std';
    font-size: 24px;
    margin: 0
}
.coming_soon_wrapper p span{
    font-family: 'Futura Std';
    font-size: 18px;
}
.coming_soon_form form{
    max-width: 500px;
    position: relative;
    margin: 50px auto;
}

.coming_soon_form input {
    background: transparent;
    border: 2px solid #b0906e;
    box-shadow: none;
    padding: 5px 15px;
    font-size: 16px;
    font-family: 'Futura Std';
    color: #fff;
}
.coming_soon_form input:focus{
    background-color: transparent;
    border: 2px solid #b0906e;
}
.coming_soon_form input.is-invalid-input {
    border-color: red;
    background: transparent;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.email-field label small {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    opacity: 0;
    width: 100%;
    background: #fff;
    transition: all 0.2s linear 0s;
}

.email-field label.is-invalid-label small {
    display: block;
    opacity: 1;
}
.coming_soon_form button {
    position: absolute;
    right: 0;
    top: 0;
    background: #b0906e;
    color: #fff;
    padding: 11px 20px;
    text-transform: uppercase;
    font-size: 14px;
    bottom: 0;
    height: 100%;
    cursor: pointer;
}
.social-icons ul{
    margin: 0;
    list-style: none;
}
.social-icons p {
    display: inline-block;
    padding: 10px 15px;
}
.social-icons a {
    color: #39536b;
    background: #fff;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    line-height: 60px;
    font-size: 35px;
    transition: all .3s linear 0s;
    border-radius: 50px;
}
.social-icons a img{
    border-radius: 50px;
}
.social-icons a:hover{
    color: #fff;
    background: #b0906e;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5)
} 
.social-icons a i{
    vertical-align: middle;
}
.social-icons {
    padding-top: 60px;
}

@-webkit-keyframes minor-animation {
    0%   {opacity: 0;}
    100% {opacity: 1}
}

@keyframes minor-animation {
    0%   {opacity: 0;}
    100% {opacity: 1}
}
@-webkit-keyframes scale-animation {
    0%   {transform: scale(1)}
    100% {transform: scale(1.7)}
}

@keyframes scale-animation {
    0%   {transform: scale(1)}
    100% {transform: scale(1.7)}
}


@media (max-height: 600px) {
.coming_soon_wrapper{
    margin: 150px auto 50px;
}
}
@media (max-height: 500px) {
.coming_soon_wrapper{
    margin: 230px auto 50px;
}
}
@media (max-width: 768px) {
header img{
    max-width: 320px;
}
header{
    text-align: center;
}
.coming_soon_wrapper{
    position: static;
    transform: none;
    margin: 200px auto 50px;
}
.coming_soon_wrapper h1 {
    font-size: 48px;
    line-height: 40px;
    margin-bottom: 0px;
}
.coming_soon_form form {
    margin: 10px auto 50px;
}
.social-icons p {
    padding: 10px 5px;
}
.social-icons a {
    height: 35px;
    width: 35px;
    line-height: 35px;
    font-size: 15px;
}
.coming_soon_wrapper p{
    font-size: 21px;
}

}
